
name: Release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  release:
    strategy:
      matrix:
        node-version: [20.x]

    name: Create a new release
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: HUSKY=0 npm ci

      - name: 'Executing remote ssh and deploy script'
        uses: appleboy/ssh-action@v1.2.0
        env:
          DOTENV_FILE: ${{ secrets.DOTENV_FILE }}
          DOTENV_PRIVATE_KEY_PRODUCTION: ${{ secrets.DOTENV_PRIVATE_KEY_PRODUCTION }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: hulib-engineering
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          envs: DOTENV_FILE,DOTENV_PRIVATE_KEY
          script: |
            curl -sfS https://dotenvx.sh | sudo sh
            cd hulib-services
            dotenvx run --strict --env-file=${DOTENV_FILE} -- ./deploy.sh

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release